#btnLogoff {
    display: none;
}

#article {
    margin-top: 50px;
    height: 76.2vh;
}

#footer {
    position: sticky;
    height: 40px;
    margin-top: 10px;
    background: grey;
    bottom: 0;

}

#sectionseparator {
    height: 4px;
    border-width: 0;
    background-color: black;
}

#news {
    margin-top: 50px;
}

#about {
    margin-top: 50px;
    display: none;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.carousel {
    width: 66.7%;
    height: 65vh;
    position: relative;
    left: 16.5vw;
}

.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}   

.slide > img {
    display: block;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

 .carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: grey;
    cursor: pointer;
    border-radius: 1rem;
    padding: 0 .5rem;
}

.carousel-button:hover,
.carousel-button:focus {
    color: black;
}

.carousel-button.prev {
    left: -3rem;
}

.carousel-button.next {
    right: -3rem;
}
